/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Dummy server
spec/dummy/config/credentials.yml.enc
spec/dummy/config/master.key
spec/dummy/log
spec/dummy/tmp
